[user]
	name = Evan Dower
	email = edower@indeed.com
[color]
	ui = auto
[core]
	pager = diff-so-fancy | less --tabs=4 -FMRiX
	excludesfile = /home/edower/.gitignore
	attributesfile = /Users/edower/indeed/javadev/git/gitattributes
	excludesfile = /home/edower/env/etc/git/gitignore_global
[push]
	default = simple
	followTags = true
[alias]
	slog = log --stat --summary
	dag = log --graph --decorate --pretty=oneline --abbrev-commit
	dags = log --graph --decorate --all --stat --summary
	pdiff = diff -M -C -C --color-words -b -w
	plog = log -p -M -C -C --color-words -b -w
	splog = log --stat --summary -p --color-words -b -w
	backup = push --all -f --prune edower
	ready = !git push -u origin HEAD:$(git symbolic-ref --short HEAD)
[branch]
	autosetupmerge = always
[diff]
	wordRegex = [[:upper:]][[:lower:]]+|[[:lower:]]+|[[:upper:]]+|[[:digit:]]+|[[:punct:]]|[^[:space:]]
	noprefix = true
	compactionHeuristic = true
	algorithm = histogram
	rename = copies
[rerere]
	enabled = true
[credential]
	helper = store
[include]
	path = /Users/edower/indeed/javadev/git/merge-drivers
	path = /Users/edower/indeed/javadev/git/aliases
	path = /Users/edower/indeed/javadev/git/general-config
	path = /home/edower/env/etc/git/aliases
	path = /home/edower/env/etc/git/general-config
	path = /home/edower/env/etc/dradis/git/aliases
	path = /home/edower/env/etc/dradis/git/general-config
	path = /home/edower/env/etc/resume/git/aliases
	path = /home/edower/env/etc/resume/git/general-config
[indeed "prefix"]
	feature = jira/
[interactive]
	diffFilter = diff-so-fancy
