[user]
	name = Evan Dower
	email = edower@indeed.com
[color]
	ui = auto
[core]
	pager = diff-so-fancy | less --tabs=4 -FMRiX
	excludesfile = ~/.gitignore
	attributesfile = ~/indeed/javadev/git/gitattributes
	excludesfile = ~/env/etc/git/gitignore_global
[push]
	default = simple
	followTags = true
[alias]
	slog = log --stat --summary
	dag = log --graph --decorate --pretty=oneline --abbrev-commit
	dags = log --graph --decorate --all --stat --summary
	pdiff = diff -M -C -C --color-words -b -w
	plog = log -p -M -C -C --color-words -b -w
	splog = log --stat --summary -p --color-words -b -w
	backup = push --all -f --prune edower
	ready = !git push -u origin HEAD:$(git symbolic-ref --short HEAD)
[branch]
	autosetupmerge = always
[diff]
	wordRegex = [[:upper:]][[:lower:]]+|[[:lower:]]+|[[:upper:]]+|[[:digit:]]+|[[:punct:]]|[^[:space:]]
	noprefix = true
	compactionHeuristic = true
	algorithm = histogram
	rename = copies
[rerere]
	enabled = true
[credential]
	helper = store
[include]
	path = ~/indeed/javadev/git/merge-drivers
	path = ~/indeed/javadev/git/aliases
	path = ~/indeed/javadev/git/general-config
	path = ~/env/etc/git/aliases
	path = ~/env/etc/git/general-config
	path = ~/env/etc/dradis/git/aliases
	path = ~/env/etc/dradis/git/general-config
	path = ~/env/etc/resume/git/aliases
	path = ~/env/etc/resume/git/general-config
[indeed "prefix"]
	feature = jira/
[interactive]
	diffFilter = diff-so-fancy
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	templatedir = ~/.git-templates
[merge "npm-merge-driver"]
	name = automatically merge npm lockfiles
	driver = npx npm-merge-driver merge %A %O %B %P
[merge "pofile"]
	name = custom merge driver for gettext po files
	driver = git-po-merge %A %O %B
[pull]
	ff = only
